<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Extensionless SPA">
          <match url=".*\.[\d\w]+$" negate="true"/>
          <action type="Rewrite" url="/cms/index.html"  />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Methods" value="GET" />
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
    </customHeaders>
  </httpProtocol>
  </system.webServer>
</configuration>